<!DOCTYPE html>
<html>

  <head>
    <title>Chicken Briani</title>

    <script src="/assets/js/main.js"></script>
    <link href="/assets/css/main.css" rel="stylesheet">

  </head>

  <body>

    <%- html %>
    
  </body>
</html>